<% grouped_transactions.each do |date, transactions| %>
  <div class="transaction-group">
    <!-- Date Header -->
    <div class="transaction-group__header">
      <h3 class="transaction-group__date">
        <%= l(date, format: :long) %>
      </h3>
      <div class="transaction-group__divider"></div>
    </div>

    <!-- Transactions for this day -->
    <div class="transaction-group__items">
      <%= render TransactionItemComponent.with_collection(transactions, transaction: :itself) %>
    </div>
  </div>
<% end %>
