<div class="dashboard__empty">
  <svg class="dashboard__empty-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"/>
  </svg>
  <h3 class="dashboard__empty-title"><%= t('.no_transactions') %></h3>
  <p class="dashboard__empty-description"><%= t('.no_transactions_description') %></p>
  <div class="dashboard__empty-button">
    <%= render Ui::ButtonComponent.new(
      text: t('.add_first_transaction'),
      url: new_transaction_path,
      variant: :primary,
      size: :lg
    ) do %>
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
      </svg>
      <%= t('.add_first_transaction') %>
    <% end %>
  </div>
</div>
