<% content_for(:title, t("admin.taxonomy.new_node")) %>

<div class="admin-page">
  <header class="admin-page__header">
    <h1 class="admin-page__title"><%= t("admin.taxonomy.new_node") %></h1>
  </header>
  <%= render "form" %>
</div>
