<% flash_messages.each do |flash| %>
  <div class="<%= flash[:classes] %>" data-flash-type="<%= flash[:type] %>">
    <div class="flash-message-content">
      <div class="flash-message-body">
        <% if icon_for_type(flash[:type]).present? %>
          <span class="flash-message-icon">
            <%= icon_for_type(flash[:type]) %>
          </span>
        <% end %>
        <p class="flash-message-text">
          <%= flash[:message] %>
        </p>
      </div>
      <button type="button" class="flash-message-dismiss" onclick="this.parentElement.parentElement.remove()">
        ×
      </button>
    </div>
  </div>
<% end %>
