/* Switcher Component */

.switcher {
  display: flex;
  font-size: 0.75rem;
}

.switcher-option {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-default);
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
}

.switcher-option:hover {
  border-color: var(--color-primary);
}

.switcher-option.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
