/*
 * Application stylesheet with Spens color palette
 * Uses CSS custom properties for consistent theming
 */

@import url("colors.css");
@import url("layout.css");
@import url("components.css");
@import url("previews.css");
@import url("tom-select.css");
