/* UI Components Styles */
/* Import all component stylesheets */

@import url("components/button.css");
@import url("components/card.css");
@import url("components/checkbox.css");
@import url("components/flash_message.css");
@import url("components/forms.css");
@import url("components/grid.css");
@import url("components/progress.css");
@import url("components/switcher.css");

/* Onboarding Components */
@import url("components/onboarding/account_line.css");
@import url("components/onboarding/account_setup_form.css");
