<% content_for :title, t('.title') %>

<div class="transaction-form-container">
  <div class="transaction-form-header">
    <h1 class="transaction-form-title"><%= t('.add_transaction') %></h1>
    <p class="transaction-form-subtitle"><%= t('.subtitle') %></p>
  </div>

  <%= turbo_frame_tag "transaction_form" do %>
    <%= render 'form' %>
  <% end %>
</div>
